<html>
    <head>
        <title>To Do List</title>
    </head>
    <body>
        <h1>{{ course.getName }}</h1>

        {% if students is not empty %}
            <p>Here are the students:</p>
            <ul>
                {% for student in students %}
                    <li><a href="/student/{{ student.getId }}">{{ student.getName }}</a> - {{student.getEnrollment}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You currently don't have any students! Use the form below to get started!</p>
        {% endif %}
<!-- ADD TASK TO CATEGORY DROPDOWN -->
        <h3>Add a student</h3>
        <form action="/course_add_student" method="post">
            <input id="course_id" = name="course_id" type="hidden" value="{{ course.getId }}">

            <label for="student_id">Select a student:</label>
            <select name="student_id" type="text" required>
                    {% for student in all_students %}
                        <option value="{{ student.getId }}">{{ student.getName }}</option>
                    {% endfor %}
            </select>

            <button type="submit">Add Student</button>
        </form>
<!-- EDIT CATEGORY FORM -->
        <h3>Edit this course</h3>
        <form action="/course/{{ course.getId }}/update" method="post">
            <input type="hidden" name="_method" value="patch">

            <label for='new_name'>New Course Name:</label>
            <input id='new_name' name='new_name' type='text' value="{{ course.getName }}" required>

            <label for='new_course_number'>New Course Number:</label>
            <input id='new_course_number' name='new_course_number' type='text' value="{{ course.getCourseNumber }}" required>

            <button type="submit">Update this course</button>
        </form>
<!-- DELETE CATEGORY BUTTON -->
        <form action="/course/{id}/delete" method="post">
            <input type="hidden" name="_method" value="delete">

            <button type="submit">Delete this course</button>
        </form>
<!-- NAVIGATION -->
        {% include 'footer.html' %}

    </body>
</html>
